<h1>Listing obituaries</h1>

<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>First name</th>
      <th>Middle name</th>
      <th>Last name</th>
      <th>Born date</th>
      <th>Death date</th>
    <% if admin_signed_in? %>
      <th colspan="3">Admin Actions</th>
    <% end %>
    </tr>
  </thead>

  <tbody>
    <% @obituaries.each do |obituary| %>
      <tr>
        <td><%= image_tag obituary.obituary_image_url(:thumb).to_s %>

        <td><%= obituary.first_name %></td>
        <td><%= obituary.middle_name %></td>
        <td><%= obituary.last_name %></td>
        <td><%= obituary.born_date %></td>
        <td><%= obituary.death_date %></td>
  <% if admin_signed_in? %>
        <td><%= link_to 'Show', admin_obituary_path(obituary) %></td>
        <td><%= link_to 'Edit', edit_admin_obituary_path(obituary) %></td>
        <td><%= link_to 'Destroy', [:admin, obituary], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if admin_signed_in? %>
  <%= link_to 'New Obituary', new_admin_obituary_path %>
<% end %>
