<%= form_for([:admin, @obituary], html: {role: 'form' }) do |f| %>
  <% if @obituary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@obituary.errors.count, "error") %> prohibited this obituary from being saved:</h2>

      <ul>
      <% @obituary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :person do |ff| %>
  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :middle_name %><br>
    <%= f.text_field :middle_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= radio_button_tag :gender, "male" %>
    <%= f.label :male  %><br>
    <%= radio_button_tag :gender, "female" %>
    <%= f.label :female  %><br>
  </div>
  <div class="form-group">
    <%= f.label :born_date %><br>
    <%= f.date_select :born_date, options = {
      start_year: Date.today.year - 100,
      end_year: Date.today.year
    } %>
  </div>
  <div class="form-group">
    <%= f.label :death_date %><br>
    <%= f.date_select :death_date , options = {
      start_year: Date.today.year - 100,
      end_year: Date.today.year
    } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
