<h1>Listing staffs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Description</th>
      <th>Job name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.name %></td>
        <td><%= staff.image %></td>
        <td><%= staff.description %></td>
        <td><%= staff.job_name %></td>
        <td><%= link_to 'Show', admin_staffs_path(staff) %></td>
        <td><%= link_to 'Edit', edit_admin_staff_path(staff) %></td>
        <td><%= link_to 'Destroy', admin_staff_path(staff), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Staff', new_admin_staff_path %>
