<p id="notice"><%= notice %></p>

<p>
  <strong>Obituary:</strong>
  <%= @guestbook.obituary.name %>
</p>

<p><strong>Guestbook Signatures</strong></p>
<table>
  <tbody>
    <% @guestbook.guestbook_signatures.each do |guestbook_signature| %>
      <tr>
        <td><%= guestbook_signature.name %></td>
        <td><%= guestbook_signature.message %></td>
        <td><%= link_to "Edit" %></td>
        <td><%= link_to "Show" %></td>
        <td><%= link_to "Destroy" %></td>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_admin_guestbook_path(@guestbook) %> |
<%= link_to 'Back', admin_guestbooks_path %>
